{
  "bracketSpacing": true,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always"
}
